:root {
  --primary: #432423;
  --grey-light: #f1f3f5;
  --grey: #d5d7d9;
  --warning: #721c24;
}

html {
  background-color: var(--primary);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-image: url("/background.jpeg");
  background-repeat: repeat;
}

/* --- MISC --- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background-color: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 2px 8px;
}

button:hover {
  background-color: white;
}

.button-group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-width: 230px;
}

.button-group-left {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-width: 230px;
}

.button-group > *:not(:nth-child(1)) {
  margin-left: 8px;
}

.button-group-left > *:not(:nth-child(1)) {
  margin-left: 8px;
}

.empty {
  align-items: center;
  color: var(--warning);
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 24px;
  text-align: center;
}

.empty svg {
  margin-bottom: 16px;
}

.flex {
  align-items: center;
  display: flex;
}

.invisible {
  color: transparent;
  letter-spacing: 0px;
  margin-top: 12px;
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 56px);
}

.issues {
  align-self: center;
  margin: 12px 0;
}

.issues a {
  color: black;
  font-size: 13px;
  text-decoration: underline;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #432423;
  cursor: pointer;
}

/* --- CARDS --- */
.card-list {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  max-width: 1100px;
  padding: 0 12px;
  width: 100%;
}

.card {
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  flex: 1 0 21%;
  margin: 4px;
}

.card-horizontal {
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  flex: 1 0 32%;
  margin: 4px;
}

.card-img {
  border-radius: 12px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card-inner {
  border-radius: 12px;
  background-image: repeating-linear-gradient(
    -55deg,
    #ddd,
    #ddd 5px,
    #ccc 5px,
    #ccc 10px
  );
  color: black;
  font-weight: 500;
  text-align: center;
  transition: transform 600ms, -webkit-transform 600ms;
  transform-style: preserve-3d;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.card-inner-flipped {
  transform: rotateY(180deg);
}

.card-img-front,
.card-img-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.card-img-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card-id {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  font-weight: 600;
  font-size: 10px;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  top: 8px;
  left: 4px;
  height: 20px;
  width: 20px;
  z-index: 5;
}

.card-flip-btn,
.card-flip-btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  opacity: 0.7;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-flip-btn-back,
.card-flip-btn-back:hover {
  background-color: black;
}

.card-flip-btn:hover,
.card-flip-btn-back:hover {
  opacity: 0.9;
}

.card-flip-svg,
.card-flip-svg-back {
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.card-flip-svg-back {
  color: white;
}

.monster-stat-card {
  box-sizing: border-box;
  position: relative;
  margin: 0 16px;
  max-width: 400px;
  overflow: hidden;
  width: 90%;
}

.monster-img-outer {
  background-image: repeating-linear-gradient(
    -55deg,
    #ddd,
    #ddd 5px,
    #ccc 5px,
    #ccc 10px
  );
  height: 100%;
  width: 100%;
}

.monster-img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position:absolute;
  display: none;
  transition: transform 500ms, -webkit-transform 500ms;
}

.monster-img-active {
  display: block;
}

.card-index-btn {
  border-radius: 100%;
  opacity: 0.7;
  height: 40px;
  width: 40px;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  top: 10px;
  left: 10px;
}

/* --- DROPDOWN --- */
.dropdown {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.dropdown-anchor {
  align-items: center;
  appearance: none;
  background-color: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 24px;
  min-width: 50px;
  padding: 2px 8px;
  margin-right: 8px;
}

.dropdown-anchor:hover {
  background-color: white;
}

.dropdown select {
  background-image: url("/select.svg");
  background-position: right center;
  background-size: 20px 30px;
  background-repeat: no-repeat;
  padding-right: 18px;
}

.dropdownnav {
  height: 100%;
  z-index: 10;
}

.dropdownnav-anchor {
  align-items: center;
  border-radius: 4px;
  color: var(--grey);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 12px;
}

.dropdownnav:hover .dropdownnav-anchor {
  color: white;
  text-decoration: underline;
  user-select: none;
  -webkit-user-select: none;
}

.dropdownnav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownnav-hover:hover .dropdownnav-content {
  display: block;
}

.dropdownnav-option {
  color: black;
  cursor: pointer;
  display: flex;
  padding: 12px 12px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.dropdownnav-option:hover {
  background-color: var(--grey);
}

/* --- FILTERS --- */
.id-filter {
  background-color: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  margin: 0 8px;
  padding: 2px 8px;
  text-align: right;
  width: 44px;
}

.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
}

.filters > *:not(:nth-child(1)) {
  margin-left: 8px;
}

.filter-icon {
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.filter-icon img {
  height: 24px;
  width: 24px;
}

.filter-icon svg {
  height: 20px;
  width: 20px;
}

.filter-icon-selected {
  border-bottom: 2px solid var(--primary);
}

/* --- MODAL --- */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  margin: auto;
  position: relative;
  min-height: 120px;
  max-width: 720px;
  width: 80%;
}

.modal-content img {
  height: 100%;
  width: 100%;
}

.modal .close {
  align-items: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 36px;
  opacity: 0.8;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 36px;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
}

/* --- SETTINGS / SPOILERS --- */
.settings-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

.settings {
  background-image: url("/background.jpeg");
  background-repeat: repeat;
  height: 100%;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 360px;
  white-space: nowrap;
  z-index: 15;
}

.settings-inner {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.settings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.spoilers {
  padding: 0 4px;
  margin-bottom: 16px;
}

.spoilers ul {
  margin: 0 0 12px;
  padding: 0;
}

.spoilers li {
  list-style-type: none;
  padding: 0;
}

.spoiler-class-icon {
  margin-right: 4px;
  height: 22px;
  width: 22px;
}

.spoilers-close-icon {
  align-self: flex-end;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.spoiler-check-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 28px;
}

.spoiler-check-option input {
  margin-right: 8px;
}

.spoiler-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.spoiler-header {
  align-self: center;
}

.spoiler-header h4 {
  margin: 16px 0;
}

.spoilers .prosperity-spoilers {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.spoilers .prosperity-option {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.spoilers .prosperity-option input {
  height: 20px;
  margin-right: 4px;
}

.spoilers .prosperity-spoilers h5 {
  align-self: center;
  margin: 0;
}

.spoilers .prosperity-spoilers ul {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
}

.spoilers-warning {
  border-radius: 12px;
  color: var(--warning);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 12px;
  white-space: normal;
}

.spoilers-warning span {
  margin-top: 12px;
  text-align: center;
}

.spoilers .character-spoilers {
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
}

.spoilers .item-spoilers {
  display: flex;
}

/* --- SLIDER --- */
.slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-top: -4px;
  width: 240px;
}

.slider span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  background: var(--primary);
  border: none;
  height: 2px;
  max-width: 240px;
  outline: none;
  width: 80%;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: var(--grey-light);
  border: 2px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
}

.slider input[type="range"]::-moz-range-thumb {
  -moz-appearance: none !important;
  background: var(--grey-light);
  border: 2px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.slider input[type="range"]::-moz-range-thumb:hover {
  background: white;
}

/* --- TOOLBAR --- */
.toolbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 56px;
  margin-bottom: 16px;
  width: 100%;
}

.toolbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 8px 12px;
  width: 100%;
}

.toolbar-inner > div {
  flex: 1;
}

.toolbar .sort {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.milestone-filter {
  align-items: center;
  display: flex;
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

.milestone-filter input[type="checkbox"] {
  accent-color: var(--primary);
  margin-right: 4px;
  height: 14px;
  width: 14px;
}

.milestone-filter-mobile {
  display: none;
}

/* --- TOPBAR --- */
.topbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: space-between;
  justify-self: center;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.topbar .header-links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.topbar .header-icon {
  color: inherit;
  height: 14px;
  margin-right: 8px;
  width: 14px;
}

.topbar .view-more {
  align-items: center;
  color: var(--grey);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 12px;
  user-select: none;
  -webkit-user-select: none;
}

.topbar .view-more:hover {
  color: white;
  text-decoration: underline;
}

.topbar .view-more span {
  align-items: center;
  display: flex;
}

.topbar .view-more:focus {
  color: var(--grey-light);
}

/* --- MEDIA QUERIES --- */
@media (max-width: 920px) {
  .card {
    flex: 1 0 26.5%;
  }
  .card-horizontal {
    flex: 1 0 32.75%;
  }
}

@media (max-width: 620px) {
  .button-group,
  .button-group-left {
    justify-content: center;
  }

  .card {
    flex: 1 0 32.75%;
  }

  .card-horizontal {
    flex: 1 0 51%;
  }

  .filters {
    justify-content: center;
    margin-top: 8px;
  }

  .home {
    width: 300px;
  }

  .milestone-filter-desktop {
    display: none;
  }

  .milestone-filter-mobile {
    display: flex;
    margin-bottom: 8px;
  }

  .modal-content {
    width: 100%;
  }

  .settings {
    height: 100%;
    width: 100%;
  }

  .settings-inner {
    height: 100%;
  }

  .slider {
    margin-bottom: 8px;
    width: 240px;
  }

  .topbar .desktop {
    display: none;
  }

  .topbar .mobile {
    display: flex;
  }

  .toolbar-inner {
    flex-direction: column;
    padding: 12px;
  }

  .toolbar-inner > *:not(:nth-child(1)) {
    margin-top: 12px;
  }

  .toolbar .sort {
    justify-content: center;
  }
}
