:root {
  --primary: #432423;
  --grey-light: #f1f3f5;
  --grey: #d5d7d9;
  --warning: #721c24;
}

html {
  background-color: var(--primary);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-image: url("/background.jpg");
  background-size: 100%;
}

/* --- MISC --- */
button {
  background-color: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 2px 8px;
}

button:hover {
  background-color: white;
}

.button-group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  min-width: 240px;
}

.button-group > *:not(:nth-child(1)) {
  margin-left: 8px;
}

.empty {
  align-items: center;
  color: var(--warning);
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 24px;
  text-align: center;
}

.empty svg {
  margin-bottom: 16px;
}

.flex {
  align-items: center;
  display: flex;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 56px);
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #432423;
}

/* --- CARDS --- */
.card-list {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  max-width: 1100px;
  padding: 0 12px;
  width: 100%;
}

.card {
  border-radius: 12px;
  box-sizing: border-box;
  flex: 1 0 21%;
  margin: 4px;
}

.card-img {
  border-radius: 12px;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* --- DROPDOWN --- */
.dropdown {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.dropdown-anchor {
  align-items: center;
  appearance: none;
  background-color: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 24px;
  min-width: 50px;
  padding: 2px 8px;
}

.dropdown-anchor:hover {
  background-color: white;
}

.dropdown select {
  background-image: url("/icons/select.svg");
  background-position: right center;
  background-size: 20px 30px;
  background-repeat: no-repeat;
  padding-right: 24px;
}

/* --- FILTERS --- */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
}

.filter-icon {
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: flex;
  margin-left: 6px;
}

.filter-icon img {
  height: 24px;
  width: 24px;
}

.filter-icon-selected {
  border-bottom: 2px solid var(--primary);
}

/* --- MODAL --- */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  margin: auto;
  position: relative;
  max-width: 720px;
  width: 80%;
}

.modal-content img {
  height: 100%;
  width: 100%;
}

.modal .close {
  align-items: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 36px;
  opacity: 0.8;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 36px;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
}

/* --- SETTINGS / SPOILERS --- */
.settings-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.settings {
  background-image: url("/background.jpg");
  height: 100%;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 360px;
  white-space: nowrap;
  z-index: 10;
}

.settings-inner {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
}

.settings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.spoilers {
  padding: 0 4px;
  margin-bottom: 16px;
}

.spoilers ul {
  margin: 0 0 12px;
  padding: 0;
}

.spoilers li {
  list-style-type: none;
  padding: 0;
}

.spoilers-close-icon {
  align-self: flex-end;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.spoiler-check-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 28px;
}

.spoiler-check-option input {
  margin-right: 8px;
}

.spoiler-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.spoiler-header {
  align-self: center;
}

.spoiler-header h4 {
  margin: 16px 0;
}

.spoilers .prosperity-spoilers {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.spoilers .prosperity-option {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.spoilers .prosperity-option input {
  height: 20px;
  margin-right: 4px;
}

.spoilers .prosperity-spoilers h5 {
  align-self: center;
  margin: 0;
}

.spoilers .prosperity-spoilers ul {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
}

.spoilers-warning {
  border-radius: 12px;
  color: var(--warning);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 12px;
  white-space: normal;
}

.spoilers-warning span {
  margin-top: 12px;
  text-align: center;
}

.spoilers .character-spoilers {
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
}

.spoilers .item-spoilers {
  display: flex;
}

/* --- SLIDER --- */
.slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 20px;
  margin-top: -4px;
}

.slider span {
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  background: var(--primary);
  border: none;
  height: 2px;
  max-width: 240px;
  outline: none;
  width: 80%;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: var(--grey-light);
  border: 2px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
}

.slider input[type="range"]::-moz-range-thumb {
  -moz-appearance: none !important;
  background: var(--grey-light);
  border: 2px solid var(--primary);
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.slider input[type="range"]::-moz-range-thumb:hover {
  background: white;
}

/* --- TOOLBAR --- */
.toolbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 56px;
  margin-bottom: 16px;
  width: 100%;
}

.toolbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 8px 16px;
  width: 100%;
}

.toolbar .sort {
  display: flex;
  flex-shrink: 0;
  min-width: 240px;
}

/* --- TOPBAR --- */
.topbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: space-between;
  justify-self: center;
  max-width: 1100px;
  margin: auto;
  padding: 8px 16px;
  width: 100%;
}

.topbar .header-links {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 40px;
  justify-content: space-between;
}

.topbar .header-link {
  align-items: center;
  color: var(--grey);
  cursor: pointer;
  display: flex;
  height: 100%;
}

.topbar .header-link:hover {
  color: white;
  text-decoration: underline;
}

.topbar .header-link span {
  align-items: center;
  display: flex;
}

.topbar .header-link a {
  height: 100%;
  text-decoration: none;
}

.topbar .header-icon {
  color: inherit;
  height: 14px;
  margin-right: 8px;
  width: 14px;
}

.topbar .header-search {
  display: flex;
  flex: 1;
}

.topbar .header-search input {
  width: 100%;
  height: 2.25em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
}

.topbar .header-search button {
  height: 2.25em;
  margin: 0;
  border: 0;
  padding: 0;
  padding-left: 8px;
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}

.topbar .view-more {
  align-items: center;
  color: var(--grey);
  cursor: pointer;
  height: 100%;
  padding: 0;
}

.topbar .desktop {
  display: flex;
}

.topbar .mobile {
  display: none;
}

.topbar .view-more:focus {
  color: var(--grey-light);
}

/* --- MEDIA QUERIES --- */
@media (max-width: 920px) {
  .card {
    flex: 1 0 26.5%;
  }
}

@media (max-width: 620px) {
  .card {
    flex: 1 0 32.75%;
  }

  .filters {
    margin-top: 8px;
  }

  .header-links {
    justify-content: space-between;
    width: 100%;
  }

  .modal-content {
    width: 100%;
  }

  .settings {
    height: 100%;
    width: 100%;
  }

  .settings-inner {
    height: 100%;
  }

  .slider {
    margin-bottom: 12px;
  }

  .topbar .desktop {
    display: none;
  }

  .topbar .mobile {
    display: flex;
  }

  .toolbar-inner {
    flex-direction: column;
    padding: 16px;
  }

  .toolbar-inner > *:not(:nth-child(1)) {
    margin-top: 12px;
  }

  .toolbar .sort {
    justify-content: center;
  }
}
