:root {
  --primary: #432423;
  --grey-light: #f3f4f5;
  --grey: #d5d6d7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-image: url("/background.jpg");
  background-size: 100%;
  overscroll-behavior: none;
}

/* --- MISC --- */
.flex {
  align-items: center;
  display: flex;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 52px);
}

/* --- CARDS --- */
.cardList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 1100px;
  width: 100%;
}

.card {
  border-radius: 12px;
  flex: 1 0 21%;
  margin: 4px;
}

.card-img {
  border-radius: 12px;
  height: auto;
  width: 100%;
}

/* --- DROPDOWN --- */
.dropdown {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.dropdown-anchor {
  align-items: center;
  background: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 22px;
  min-width: 50px;
  padding: 2px 8px;
}

.dropdown-anchor:hover {
  background: white;
}

.dropdown-arrow {
  height: 14px;
  margin-left: 8px;
  width: 14px;
}

.dropdown-content {
  position: absolute;
  background-color: var(--grey-light);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 2px 0 0 0;
  min-width: 160px;
  padding: 0;
  z-index: 1;
}

.dropdown-content li {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: block;
  list-style-type: none;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content li:hover {
  background: var(--primary);
  color: white;
}

/* --- FILTERS --- */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-icon {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  margin-left: 8px;
}

.filter-icon img {
  height: 24px;
  width: 24px;
}

.filter-icon-selected {
  border-bottom: 2px solid var(--primary);
}

/* --- PAGINATION --- */
.pagination {
  display: flex;
  margin-left: 12px;
}

.pagination-btn {
  align-items: center;
  background: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 28px;
  margin-right: 8px;
  padding: 2px 8px;
}

.pagination-btn:hover {
  background: white;
}

.pagination-icon {
  height: 14px;
  width: 14px;
}

/* --- SPOILERS --- */
.spoilers-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.spoilers {
  background-color: #eee;
  height: 100%;
  opacity: 1;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 360px;
  white-space: nowrap;
  z-index: 10;
}

.spoilers-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px;
}

.spoilers h4 {
  margin-left: 8px;
}
 
.spoilers ul {
  margin: 0 0 12px;
  padding: 0;
}

.spoilers li {
  list-style-type: none;
  padding: 0;
}

.spoilers input {
  accent-color: black;
}

.spoilers-close-icon {
  align-self: flex-end;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.spoiler-check-option {
  align-items: center;
  display: flex;
  min-height: 28px;
}

.spoiler-check-option svg {
  margin: 2px 4px;
}

.spoilers .prosperity-spoilers {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.spoilers .prosperity-option {
  height: 20px;
}

.spoilers .prosperity-spoilers h5 {
  align-self: center;
  margin: 0;
}

.spoilers .prosperity-spoilers ul {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
}

/* --- TOPBAR --- */
.topbar {
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  display: flex;
  height: 52px;
  width: 100%;
}

.topbarInner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 0 16px;
  width: 100%;
}

.topbar .header-links {
  display: flex;
  flex-grow: 0;
}

.topbar .header-link {
  color: var(--grey);
  cursor: pointer;
  margin: 0 12px;
}

.topbar .header-link:hover {
  color: white;
  text-decoration: underline;
}

.topbar .header-link span {
  align-items: center;
  display: flex;
}

.topbar .header-link a {
  height: 100%;
  text-decoration: none;
}

.topbar .header-icon {
  color: inherit;
  height: 14px;
  margin-right: 8px;
  width: 14px;
}

.topbar .search {
  align-items: center;
  display: flex;
  flex-grow: 2;
  margin-left: 12px;
}

.topbar .search input {
  background: none;
  border: none;
  caret-color: white;
  color: var(--grey-light);
  font-size: 16px;
  width: 100%;
}

.topbar .search input::placeholder {
  color: var(--grey);
}

.topbar .search input:focus {
  outline: none;
}

.topbar .search-icon {
  color: var(--grey);
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

/* --- TOOLBAR --- */
.toolbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 52px;
  width: 100%;
}

.toolbarInner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 8px 16px;
  width: 100%;
}

.toolbar .sort {
  flex-shrink: 0;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 920px) {
  .card {
    flex: 1 0 24.5%;
  }
}

@media (max-width: 660px) {
  .card {
    flex: 1 0 32.75%;
  }

  .spoilers {
    width: 100%;
  }

  .pagination-btn span {
    display: none;
  }
}
