:root {
  --primary: #432423;
  --grey-light: #f3f4f5;
  --grey: #d5d6d7;
  --warning: #aa0000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-image: url("/background.jpg");
  background-size: 100%;
  overscroll-behavior: none;
}

/* --- MISC --- */
.empty {
  align-items: center;
  color: var(--warning);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
}

.flex {
  align-items: center;
  display: flex;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - 52px);
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #432423;
}

/* --- CARDS --- */
.card-list {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 1100px;
  padding: 0 8px;
  width: 100%;
}

.card {
  border-radius: 12px;
  box-sizing: border-box;
  flex: 1 0 21%;
  margin: 4px;
}

.card-blank {
  border-radius: 12px;
  box-sizing: border-box;
  flex: 1 0 21%;
  margin: 4px;
}

.card-img {
  border-radius: 12px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.mat-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 720px;
  padding: 0 8px;
  width: 100%;
}

.mat {
  flex: 1 0 100%;
  margin: 4px;
}

/* --- DROPDOWN --- */
.dropdown {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.dropdown-anchor {
  align-items: center;
  background: var(--grey-light);
  border: 1px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 22px;
  min-width: 50px;
  padding: 2px 8px;
}

.dropdown-anchor:hover {
  background: white;
}

.dropdown-arrow {
  height: 14px;
  margin-left: 8px;
  width: 14px;
}

.dropdown-content {
  position: absolute;
  background-color: var(--grey-light);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 2px 0 0 0;
  min-width: 160px;
  padding: 0;
  z-index: 1;
}

.dropdown-content li {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: block;
  list-style-type: none;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content li:hover {
  background: var(--primary);
  color: white;
}

/* --- FILTERS --- */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-icon {
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: flex;
  margin-left: 6px;
}

.filter-icon img {
  height: 24px;
  width: 24px;
}

.filter-icon-selected {
  border-bottom: 2px solid var(--primary);
}

/* --- SPOILERS --- */
.spoilers-overlay {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.spoilers {
  background-image: url("/background.jpg");
  height: 100%;
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 360px;
  white-space: nowrap;
  z-index: 10;
}

.spoilers-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px;
}

.spoilers ul {
  margin: 0 0 12px;
  padding: 0;
}

.spoilers li {
  list-style-type: none;
  padding: 0;
}

.spoiler-section {
  padding: 0 4px;
}

.spoilers-close-icon {
  align-self: flex-end;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.spoiler-check-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 28px;
}

.spoiler-check-option input {
  margin-right: 8px;
}

.spoilers .prosperity-spoilers {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.spoilers .prosperity-option {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.spoilers .prosperity-option input {
  height: 20px;
  margin-right: 4px;
}

.spoilers .prosperity-spoilers h5 {
  align-self: center;
  margin: 0;
}

.spoilers .prosperity-spoilers ul {
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
}

.spoilers-warning {
  color: var(--warning);
  margin-top: 8px;
  white-space: normal;
}

.spoilers .character-spoilers {
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
}

.spoilers .item-spoilers {
  display: flex;
}

/* --- TOOLBAR --- */
.toolbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 52px;
  width: 100%;
}

.toolbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 8px 12px;
  width: 100%;
}

.toolbar .sort {
  flex-shrink: 0;
}

/* --- TOPBAR --- */
.topbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topbar-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 52px;
  justify-content: space-between;
  justify-self: center;
  max-width: 1100px;
  margin: auto;
  padding: 8px 12px;
  width: 100%;
}

.topbar .header-links {
  align-items: center;
  display: flex;
  flex-grow: 0;
  height: 100%;
}

.topbar .header-link {
  color: var(--grey);
  cursor: pointer;
  margin: 0 8px;
}

.topbar .header-link:hover {
  color: white;
  text-decoration: underline;
}

.topbar .header-link span {
  align-items: center;
  display: flex;
}

.topbar .header-link a {
  height: 100%;
  text-decoration: none;
}

.topbar .header-icon {
  color: inherit;
  height: 14px;
  margin-right: 8px;
  width: 14px;
}

.topbar .search {
  align-items: center;
  display: flex;
  flex-grow: 2;
  margin-left: 12px;
}

.topbar .search input[type="text"] {
  background: none;
  border: none;
  caret-color: white;
  color: var(--grey-light);
  font-size: 14px;
  width: 100%;
}

.topbar .search input[type="text"]::placeholder {
  color: var(--grey);
  font-size: 14px;
}

.topbar .search input[type="text"]:focus {
  outline: none;
}

.topbar .search-filters {
  color: var(--grey);
  flex: 0 0 120px;
}

.topbar .search-filters input[type="checkbox"] {
  margin-right: 4px;
}

.topbar .search-icon {
  color: var(--grey);
  cursor: pointer;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.topbar .view-more {
  color: var(--grey);
  display: none;
}

.topbar .view-more:focus {
  color: var(--grey-light);
}

.topbar-hidden-links {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  justify-self: center;
  height: 0;
  max-width: 1100px;
  margin: auto;
  padding: 0 16px;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 920px) {
  .card {
    flex: 1 0 24.5%;
  }
}

@media (max-width: 620px) {
  .card {
    flex: 1 0 32.75%;
  }
}

@media (max-width: 540px) {
  .filters {
    margin-top: 8px;
  }

  .spoilers {
    height: 100%;
    width: 100%;
  }

  .toolbar-inner {
    flex-direction: column;
  }

  .topbar .main-header-links {
    display: none;
  }

  .topbar .view-more {
    display: block;
  }

  .topbar .header-links {
    justify-content: space-around;
  }

  .topbar-hidden-links {
    display: block;
  }
}
